.home-card {
    border-radius: 12px;
    transition: 0.25s;
    cursor: pointer;
    background-color: var(--primary);
}

.home-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.card-title, .home-card p {
    color: var(--secondary);
}